<template>
<section>
  <applogo></applogo>
  <h2>This is vue template using <slot></slot>!</h2>
  </section>
</template>

<script>
import applogo from "/src/components/AppLogo.vue";

export default {
  name: "hello",
  components:{
    applogo
  },
  data() {
    return {};
  }
};
</script>

<style lang="scss">
section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h2{
  font-weight: 300;
}
</style>
