<template>
  <div id="app">
    <hello>{{ title }}</hello>
  </div>
</template>

<script>
import hello from "/src/components/hello.vue";

export default {
  name: "app",
  components: {
    hello
  },
  data() {
    return {
      title: "parcel.js"
    };
  }
};
</script>

<style lang="scss">
#app,
html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
}
</style>
